@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
  --navColor6: #5f2264;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
  /* background-image: url("./backgroundLandingPage9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

#container {
  background-image: url("./backgroundLandingPage9.jpg");
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  background-position:left top;
  width:100%;
  height:100vh;
  position:fixed;
  z-index: -1;    /* background-attachment: fixed; */
}

.showtheway {
  background-image: url("./click-here.png");
  background-size: 100px 18px;
  opacity: 0.9;
  color: #000;
  width: 70px;
  display: inline;
}

.showtheway-app-image {
  height: 18px !important;
}

.showtheway img {
  opacity: 0;
  width: 100px;
  height: 100px;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

nav li:nth-of-type(6) {
  background-color: var(--navColor6);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.menu-bars-scroll {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

.section-overlay-home {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  /* -webkit-transform: translate3d(0,0,0); */
  /* z-index: -1; */
}

section#home {
  display: grid;
}

.sponsors {
  width: 80vw;
  margin: auto 10%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.9;
  height: 16%;
  position: absolute;
  top: 0;
  z-index: 4;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

#sponsors-title {
  width: 15%;
  height: 25%;
  margin: auto 39%;
  background-color:#4392ec;
  z-index: 5;
  position: absolute;
  border-radius: 0 0 70% 70%;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

#sponsors-title-for-mobile {
  display: none;
}

.sponsors-all {
  display: flex;
  width: 100%;
  height: 75%;
}

.sponsors-all a {
  display: block;
}

#cj {
  background-image: url('./cj.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 20%;
}

#primaria {
  background-image: url('./primaria.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 20%;
}

#marcea {
  background-image: url('./marcea.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 20%;
}

#jts {
  background-image: url('./jts.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 25%;
}

#padding {
  width: 15%;
}

.sponsors-sites {
  display: flex;
  width: 100%;
  height: 25%;
  z-index: 5;
  text-align: center;
}

.sponsors-sites a {
  text-decoration: none;
  color:#4392ec;
}

.sponsors-sites:active, .sponsors-sites:visited {
  color:#4392ec;
}

#cj-site {
  width: 20%;
}

#cj-site:hover {
  font-size: 1.1em;
}

#primaria-site {
  width: 20%;
}

#primaria-site:hover {
  font-size: 1.1em;
}

#padding-site {
  width: 15%;
}

#marcea-site {
  width: 20%;
}

#marcea-site:hover {
  font-size: 1.1em;
}

#jts-site {
  width: 25%;
}

#jts-site:hover {
  font-size: 1.1em;
}

#logo {
  width: 50%;
  margin: 20% auto 10% auto;
}

#welcome {
  font-size: 2rem;
  text-align: center;
  margin-top: 9%;
  margin-left: 18%;
  /* margin-right: auto; */
  width: fit-content;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#welcome-access-info {
  color: #fff;
  text-align: center;
  margin-bottom: 5%;
  margin-left: -15%;
}

section#countdown {
  position: relative;
}

#countdown-title {
  text-align: center;
  font-size: 2.5rem;
  animation: complete 4s infinite;
  position: absolute;
  width: 28%;
}

@keyframes complete {
  0% {
    color: rgb(233, 12, 12);
  }

  25% {
    color: rgb(36, 214, 0);
  }

  50% {
    color: rgb(19, 231, 185);
    transform: scale(1.5);
  }

  75% {
    color: rgb(19, 79, 209);
  }

  100% {
    color: rgb(188, 16, 211);
  }
}

/* Video Background */
.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.35);
}

/* Countdown */
.countdown {
  margin-left: -45%;
}

ul {
  margin-left: 0;
  margin-top: 20%;
}



li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

section#echipe {

}

.section-overlay-echipe {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(180, 56, 56, 0.7);
  opacity: 0.7;
  z-index: -1;
}

section#program {
  
}

.section-overlay-program {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navColor4);
  opacity: 0.7;
  z-index: -1;
}

section#locatii {
  /* background-color: var(--navColor5); */
  /* display: flex;
  flex-direction: row; */
}

.section-overlay-locatii {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navColor5);
  opacity: 0.5;
  z-index: -1;
}

.iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 50vh;
  margin-top: -10%;
}

.iframe a {
  text-decoration: none;
}

#map-1, #map-2, #map-3, #map-4 {
  width: 20%;
  /* height: 90%; */
  margin: 0;
  /* height: 12%; */
  /* position: absolute;
  left: 10%;
  top: 10%; */
}

#map-1-text, #map-2-text, #map-3-text, #map-4-text {
  text-align: center;
  width: 100%;
  height: 10%;
  font-size: 0.9rem;
}



#iframe-1, #iframe-2, #iframe-3, #iframe-4 {
  width: 100%;
  height: 100%;
  /* height: 25%; */
}

b {
  color:#ee1010
}


#bottom-note {
  position: absolute;
  bottom: 10%;
  font-size: small;
}

section#parteneri {
  flex-direction: column;
}

.section-overlay-parteneri {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navColor6);
  opacity: 0.5;
  z-index: -1;
}

section#parteneri #parteneri-title {
  position: absolute;
  top: 0%;
  margin-top: 1%;
  font-weight: bold;
  font-size: 3rem;
}

section#parteneri .parteneri-logo {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  position: absolute;
  width: 70%;
  height: 20%;
  top: 10%;
}

section#parteneri a {
  text-decoration: none;
  color:#fff;
}


#parteneri-logo-cj {
  /* width: 100%;
  height:auto; */
}

#parteneri-logo-cj {
  width: 100%;
  height: 100%;
}

a#parteneri-logo-cj {
  background-image: url("./cj.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto auto;
  width: 25%;
  height: 80%;
}

a#parteneri-site-cj, a#parteneri-site-primarie, a#parteneri-site-marcea, a#parteneri-site-jts {
  position: absolute;
  bottom: 5%;
  height: 10%;
  width: 25%;
  text-align: center;
  font-size: 1.2rem;
  /* margin:auto auto; */
}

a#parteneri-logo-primarie {
  background-image: url("./primaria.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto auto;
  width: 25%;
  height: 80%;
}

a#parteneri-logo-marcea {
  background-image: url("./marcea.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto 1%;
  width: 23%;
  height: 80%;
  box-sizing: border-box;
}

a#parteneri-logo-jts {
  background-image: url("./jts.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto 1%;
  width: 25%;
  height: 80%;
}

/* Slideshow container /////////////////////////////////////////////////////////////////*/
.slideshow-container {
  /* max-width: 1000px; */
  position: absolute;
  margin: auto;
  top: 35%;
  width: 50%;
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Media Query: Large Smartphone (Vertical) ////////////////////////////////////////////*/
@media (max-width: 820px) {

  /* body {
    background-image: url("./backgroundLandingPage10.jpg");
    background-position: 20% 0%;
  } */
  
  #container {
    background-image: url("./backgroundLandingPage10.jpg");
    background-position: 20% 0%;
  }

  section#home {
    /* background-image: url("./backgroundLandingPage4.jpg"); */
  }

  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 5rem;
    right: 1.5rem;
  }

  .sponsors {
    width: 100vw;
    height: 8vh;
    margin: 0;
  }

  #sponsors-title-for-mobile {
    display: block;
    width: 100vw;
    height: 2vh;
    background-color:#4392ec;
    color:#fff;
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: 0;
  }

  .sponsors-all {
    height: 80%;
  }

  #cj {
    width: 23%;
    height: 80%;
    /* padding-top: 2%; */
  }

  #primaria {
    width: 23%;
  }

  #marcea {
    width: 27%;
  }

  #jts {
    width: 27%;
  }

  .sponsors-sites {
    display:none;
  }

  #padding, #sponsors-title {
    display: none;
  }

  #logo {
    width: 60%;
    margin: -5% auto 10% auto;
  }

  #welcome {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 0;
  }

  #welcome-access-info {
    font-size: 0.7rem;
    margin-top: -50%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  video {
    object-position: 70%;
  }

  .countdown {
    margin-right: auto;
    margin-left: auto;
    margin-top: -5%;
    width: 90vw;
    /* background-color:rgba(255, 255, 255, 0.7); */
    border-radius: 12%;
  }

  #countdown-title {
    font-size: 1.4rem;
    margin: 15%;
    width: 67%;
    right: 7px;
  }

  div#countdown ul {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30%;
  }

  div#countdown li {
    font-size: 0.75rem;
    font-weight: 1000;
    color: #ee1010;
  }


  li span {
    font-size: 2rem;
  }

  /* Locatii */

  section#locatii {
    height: 150vh;
  }

  .section-overlay-locatii {
    position:absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 150vh;
    background-color: var(--navColor5);
    opacity: 0.5;
    z-index: -1;
  }

  .iframe {
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    align-items: center;
    height: 150vw;
    margin-top: 10%;
  }

  #iframe-1, #iframe-2, #iframe-3, #iframe-4 {
    width: 100%;
    height: 85%;
  }

  #map-1, #map-2, #map-3, #map-4 {
    width: 80%;
    height: 35%;
    margin: 0;
    padding: 5%;
    padding-bottom: 15%;
  }
  
  #map-1-text, #map-2-text, #map-3-text, #map-4-text {
    text-align: center;
    width: 100%;
    height: 25%;
    font-size: 0.9rem;
    text-transform: none;
  }

  h5 {
    margin: 0;
  }

  #bottom-note {
    display: none;
  }

  

}
