@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
  --navColor6: #5f2264;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}

#container {
  background-image: url("./backgroundLandingPage9.jpg");
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  background-position:left top;
  width:100%;
  height:100vh;
  position:fixed;
  z-index: -1;
}

.showtheway {
  background-image: url("./click-here.png");
  background-size: 100px 18px;
  opacity: 0.9;
  color: #000;
  width: 70px;
  display: inline;
}

.showtheway-app-image {
  height: 18px !important;
}

.showtheway img {
  opacity: 0;
  width: 100px;
  height: 100px;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

nav li:nth-of-type(6) {
  background-color: var(--navColor6);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.menu-bars-scroll {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

.section-overlay-home {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.3;
  /* -webkit-transform: translate3d(0,0,0); */
  /* z-index: -1; */
}

section#home {
  display: grid;
}

.sponsors {
  width: 90vw;
  margin: auto 4%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.9;
  height: 16%;
  position: absolute;
  top: 0;
  z-index: 4;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

#sponsors-title {
  width: 15%;
  height: 25%;
  margin: auto 39%;
  background-color:#4392ec;
  z-index: 5;
  position: absolute;
  border-radius: 0 0 70% 70%;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

#sponsors-title-for-mobile {
  display: none;
}

.sponsors-all {
  display: flex;
  width: 100%;
  height: 75%;
}

.sponsors-all a {
  display: block;
}

#cj {
  background-image: url('./cj.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 12%;
}

#primaria {
  background-image: url('./primaria.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 15%;
}

#marcea {
  background-image: url('./marcea.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 17%;
}

#jts {
  background-image: url('./jts.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 20%;
}

#hostgate {
  background-image: url('./hostgate.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 15%;
  margin-left: 2%;
}

#mag {
  background-image: url('./mag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  width: 16%;
}

#padding {
  width: 15%;
}

.sponsors-sites {
  display: flex;
  width: 100%;
  height: 25%;
  z-index: 5;
  text-align: center;
}

.sponsors-sites a {
  text-decoration: none;
  color:#4392ec;
}

.sponsors-sites:active, .sponsors-sites:visited {
  color:#4392ec;
}

#cj-site {
  width: 12%;
}

#cj-site:hover {
  font-size: 1.1em;
}

#primaria-site {
  width: 15%;
}

#primaria-site:hover {
  font-size: 1.1em;
}

#padding-site {
  width: 15%;
}

#marcea-site {
  width: 17%;
}

#marcea-site:hover {
  font-size: 1.1em;
}

#jts-site {
  width: 20%;
}

#jts-site:hover {
  font-size: 1.1em;
}

#hostgate-site {
  width: 15%;
  margin-left: 2%;
}

#hostgate-site:hover {
  font-size: 1.1em;
}

#mag-site {
  width: 16%;
}

#mag-site:hover {
  font-size: 1.1em;
}

#logo {
  width: 70%;
  margin: -35% auto 10% auto;
}

#welcome {
  font-size: 2rem;
  text-align: center;
  margin-top: 9%;
  margin-left: 18%;
  /* margin-right: auto; */
  width: fit-content;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#welcome-access-info {
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: 5%;
  left: 15%;
}

section#countdown {
  position: relative;
}

#countdown-title {
  text-align: center;
  font-size: 2.5rem;
  animation: complete 4s infinite;
  position: absolute;
  width: 28%;
}

@keyframes complete {
  0% {
    color: rgb(233, 12, 12);
  }

  25% {
    color: rgb(36, 214, 0);
  }

  50% {
    color: rgb(19, 231, 185);
    transform: scale(1.5);
  }

  75% {
    color: rgb(19, 79, 209);
  }

  100% {
    color: rgb(188, 16, 211);
  }
}

/* Video Background */
.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.35);
}

/* Countdown */
.countdown {
  margin-left: -45%;
}

ul {
  margin-left: 0;
  margin-top: 20%;
}



li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

section#echipe {

}

#echipe-titlu {
  position:absolute;
  top: 3%;
  font-weight: bold;
  font-size: 2rem;
}

.container-echipe {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20%;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  align-items: center;
  justify-items: center;
  overflow: auto;
  padding: 1%;
  width: 70%;
  height: 70%;
  border-radius: 3%;
  opacity: 0.7;
}

.container-echipe > div {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  /* padding: 20px 0; */
  font-size: 30px;
  border-radius: 10px;
}

.echipa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.echipa-logo {
  background-image: url('./logo-echipe/buc.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1%;
  width: 80%;
  height: 80%;
}

.echipa-nume {
  font-size: 1rem;
  font-weight: bold;
  color: blue;
  padding-top: 1%;
}

.echipa-1-3, .echipa-7-9, .echipa-13-15, .echipa-16-18, .echipa-28-30 {
  display: flex;
  flex-direction: row;
  grid-column: span 3;
  width: 100%;
  height: 100%;
}

.echipa-4-5, .echipa-11-12, .echipa-19-20, .echipa-22-24, .echipa-26-27, .echipa-32-33, .echipa-35-36, .echipa-39-40, .echipa-42-43 {
  display: flex;
  flex-direction: row;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.echipa-6, .echipa-10, .echipa-21, .echipa-25, .echipa-31, .echipa-34, .echipa-35, .echipa-37, .echipa-38, .echipa-41 {
  display: flex;
  flex-direction: row;
  grid-column: span 1;
  width: 100%;
  height: 100%;
}

#echipa-1 {
  background-image: url('./logo-echipe/ag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-7 {
  background-image: url('./logo-echipe/bv.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-8 {
  background-image: url('./logo-echipe/cv.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-11 {
  background-image: url('./logo-echipe/dj.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-12 {
  background-image: url('./logo-echipe/ot.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-13 {
  background-image: url('./logo-echipe/cj.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-14 {
  background-image: url('./logo-echipe/hd.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-15 {
  background-image: url('./logo-echipe/sm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-16 {
  background-image: url('./logo-echipe/bc.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-17 {
  background-image: url('./logo-echipe/bt.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-18 {
  background-image: url('./logo-echipe/vs.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-19 {
  background-image: url('./logo-echipe/ph.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-20 {
  background-image: url('./logo-echipe/db.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-22 {
  background-image: url('./logo-echipe/is.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-23 {
  background-image: url('./logo-echipe/nt.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-24 {
  background-image: url('./logo-echipe/sv.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-26 {
  background-image: url('./logo-echipe/vl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-27 {
  background-image: url('./logo-echipe/mh.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-28 {
  background-image: url('./logo-echipe/gl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-29 {
  background-image: url('./logo-echipe/br.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-30 {
  background-image: url('./logo-echipe/vn.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-32 {
  background-image: url('./logo-echipe/ab.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-33 {
  background-image: url('./logo-echipe/sj.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-35 {
  background-image: url('./logo-echipe/bz.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-36 {
  background-image: url('./logo-echipe/tl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-39 {
  background-image: url('./logo-echipe/hr.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-40 {
  background-image: url('./logo-echipe/ms.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-42 {
  background-image: url('./logo-echipe/cl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#echipa-43 {
  background-image: url('./logo-echipe/il.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.section-overlay-echipe {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(180, 56, 56, 0.7);
  opacity: 0.7;
  z-index: -1;
}

section#program {
  flex-direction: column;
}

th {
  padding: 10px;
}

td {
  padding: 3px;
}

.nume-locatie {
  text-transform: none;
  font-style: italic;
}

.section-overlay-program {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navColor4);
  opacity: 0.7;
  z-index: -1;
}

#program-title {
  position: absolute;
  top: 0%;
  font-weight: bold;
  font-size: 2rem;
}

#program-vineri, #program-sambata {
  padding: 3%;
  margin-left: 2%;
  margin-top: 0%;
}

#ora-masa-festiva {
  text-transform: none;
}

section#locatii {
  /* background-color: var(--navColor5); */
  /* display: flex;
  flex-direction: row; */
}

#locatii-title {
  position: absolute;
  top: -1%;
  font-weight: bold;
  font-size: 2rem;
}

.section-overlay-locatii {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navColor5);
  opacity: 0.5;
  z-index: -1;
}

.iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 50vh;
  margin-top: -10%;
}

.iframe a {
  text-decoration: none;
}

#map-1, #map-2, #map-3, #map-4 {
  width: 20%;
  /* height: 90%; */
  margin: 0;
  /* height: 12%; */
  /* position: absolute;
  left: 10%;
  top: 10%; */
}

#map-5 {
  display: none;
}

#map-1-text, #map-2-text, #map-3-text, #map-4-text {
  text-align: center;
  width: 100%;
  height: 10%;
  font-size: 0.9rem;
}



#iframe-1, #iframe-2, #iframe-3, #iframe-4 {
  width: 100%;
  height: 100%;
  /* height: 25%; */
}

b {
  color:#ee1010
}


#bottom-note {
  position: absolute;
  bottom: 10%;
  font-size: small;
  text-align: center;
}

section#parteneri {
  flex-direction: column;
}

.section-overlay-parteneri {
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navColor6);
  opacity: 0.5;
  z-index: -1;
}

section#parteneri #parteneri-title {
  position: absolute;
  top: 0%;
  margin-top: 1%;
  font-weight: bold;
  font-size: 2rem;
}

section#parteneri .parteneri-logo {
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 17%;
  position: absolute;
  width: 90%;
  height: 20%;
  top: 10%;
  left: 0;
}

section#parteneri a {
  text-decoration: none;
  color:#fff;
  text-transform: lowercase;
}


#parteneri-logo-cj {
  /* width: 100%;
  height:auto; */
}

#parteneri-logo-cj {
  width: 100%;
  height: 100%;
}

a#parteneri-logo-cj {
  background-image: url("./cj.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto auto;
  width: 15%;
  height: 80%;
}

a#parteneri-site-cj, a#parteneri-site-primarie, a#parteneri-site-marcea, a#parteneri-site-jts {
  position: absolute;
  bottom: 10%;
  height: 10%;
  width: 16%;
  text-align: center;
  font-size: 1.2rem;
  /* margin:auto auto; */
}

a#parteneri-site-hostgate, a#parteneri-site-mag {
  position: absolute;
  bottom: 5%;
  height: 10%;
  width: 26%;
  text-align: center;
  font-size: 1.2rem;
}

a#parteneri-site-cj {
  left: 0;
}

a#parteneri-logo-primarie {
  background-image: url("./primaria.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto auto;
  width: 15%;
  height: 80%;
}

a#parteneri-logo-marcea {
  background-image: url("./marcea.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto 1%;
  width: 15%;
  height: 80%;
  box-sizing: border-box;
}

a#parteneri-logo-jts {
  background-image: url("./jts.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto 1%;
  width: 17%;
  height: 80%;
}

a#parteneri-logo-hostgate {
  background-image: url("./hostgate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto 3%;
  width: 20%;
  height: 80%;
}

a#parteneri-logo-mag {
  background-image: url("./mag.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: auto 1%;
  width: 25%;
  height: 80%;
}

/* Slideshow container /////////////////////////////////////////////////////////////////*/
.slideshow-container {
  /* max-width: 1000px; */
  position: absolute;
  margin: auto;
  top: 40%;
  width: 40%;
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Media Query: Large Smartphone (Vertical) ////////////////////////////////////////////*/
@media (max-width: 720px) {

  
  #container {
    background-image: url("./backgroundLandingPage10.jpg");
    background-position: 20% 0%;
  }

  section#home {
    
  }

  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 5rem;
    right: 1.5rem;
  }

  .sponsors {
    width: 100vw;
    height: 8vh;
    margin: 0;
  }

  #sponsors-title-for-mobile {
    display: block;
    width: 100vw;
    height: 2vh;
    background-color:#4392ec;
    color:#fff;
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: 0;
  }

  .sponsors-all {
    height: 80%;
  }

  #cj {
    width: 12%;
    height: 80%;
  }

  #primaria {
    width: 15%;
  }

  #marcea {
    width: 17%;
    margin-left: 0;
  }

  #jts {
    width: 20%;
  }

  #hostgate {
    width: 17%;
  }

  #mag {
    width: 16%;
  }

  .sponsors-sites {
    display:none;
  }

  #padding, #sponsors-title {
    display: none;
  }

  #logo {
    width: 60%;
    margin: -80% auto 10% auto;
  }

  #welcome {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 0;
  }

  #welcome-access-info {
    font-size: 0.7rem;
    left: 0;
    bottom: 25%;
  }

  video {
    object-position: 70%;
  }

  .countdown {
    margin-right: auto;
    margin-left: auto;
    margin-top: -5%;
    width: 90vw;
    border-radius: 12%;
  }

  #countdown-title {
    font-size: 1.4rem;
    margin: 15%;
    width: 67%;
    right: 7px;
  }

  div#countdown ul {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30%;
  }

  div#countdown li {
    font-size: 0.75rem;
    font-weight: 1000;
    color: #ee1010;
  }


  li span {
    font-size: 2rem;
  }

  /* Echipe */

  .container-echipe {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;
    overflow: auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    align-items: center;
    justify-items: center;
    overflow: auto;
    padding: 1%;
    width: 90%;
    height: 80%;
    border-radius: 3%;
    opacity: 0.7;
  }
  
  .echipa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .echipa-logo {
    margin-top: 1%;
    width: 70%;
    height: 70%;
  }

  /* Program */
  #program-vineri, #program-sambata {
    padding: 3%;
    margin-left: 2%;
    margin-top: 5%;
  }

  /* Locatii */

  section#locatii {
    height: 200vh;
    position: relative;
  }

  .section-overlay-locatii {
    position:absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200vh;
    background-color: var(--navColor5);
    opacity: 0.5;
    z-index: -1;
  }

  .iframe {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    align-items: center;
    height: 200vh;
  }

  #iframe-1, #iframe-2, #iframe-3, #iframe-4, #iframe-5 {
    width: 100%;
    height: 85%;
  }

  #map-5 {
    display: block;
  }

  #map-1, #map-2, #map-3, #map-4, #map-5 {
    width: 85%;
    height: 35%;
    margin: 0;
    padding: 1%;
    padding-bottom: 7%;
  }

  #map-1 {
    padding-top: 20%;
  }



  
  #map-1-text, #map-2-text, #map-3-text, #map-4-text, #map-5-text {
    text-align: center;
    width: 100%;
    height: 17%;
    font-size: 0.9rem;
    text-transform: none;
  }

  h5 {
    margin: 0;
  }

  #bottom-note {
    display: none;
  }

  /* Parteneri */

  section#parteneri #parteneri-title {
    font-size: 1.5rem;
    top: 3%;
  }

  .slideshow-container {
    width: 90%;
    top: 47%;
  }

  section#parteneri .parteneri-logo {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% 50%;
    left: 5%;
  }

  a#parteneri-logo-cj, a#parteneri-logo-primarie, a#parteneri-logo-marcea, a#parteneri-logo-jts, a#parteneri-logo-hostgate, a#parteneri-logo-mag {
    width: 30%;
    height: 55%;
    margin-left: 3%;
  }

  a#parteneri-logo-cj {
    background-size: 70% 70%;
  }

  a#parteneri-logo-primarie { 
    width: 50%;
    background-size: 110% 45%;
    margin-left: 0;
  }

  a#parteneri-logo-marcea {
    width: 50%;
    background-size: 80% 35%;
    margin-left: -5%;
  }

  a#parteneri-logo-jts {
    width: 50%;
    margin-left: 0;
  }

  a#parteneri-logo-hostgate {
    width: 41%;
    top: 92%;
    margin-left: 0;
  }

  a#parteneri-logo-mag {
    width: 50%;
    height: 25%;
    top: 110%;
    margin-left: -3%;
  }

  a#parteneri-site-cj, a#parteneri-site-primarie {
    font-size: 0.55rem;
    text-align: center;
    top: 47%;
    bottom: auto;
  }

  a#parteneri-site-cj {
    left: 5%;
  }

  a#parteneri-site-marcea {
    font-size: 0.55rem;
    left: 3%;
    bottom: 1%;
    margin-left: 1%;
  }

  a#parteneri-site-jts {
    font-size: 0.55rem;
    bottom: 0%;
    margin-left: 9%;
  }

  a#parteneri-site-hostgate {
    font-size: 0.55rem;
    bottom: -43%;
    margin-left: 3%;
  }

  a#parteneri-site-mag {
    font-size: 0.55rem;
    bottom: -46%;
    margin-left: 5%;
    width: fit-content;
  }

}

